*{
    padding: 0;
    margin: 0;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
}
.sign-up{
    display: flex;
    margin: 0px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-cont{
    margin: 26px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo{
    height: 48px;
    width: 48px;
}
p{
   font-size: 28px;
   font-family: 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
    height: 100%;
    margin-bottom: 12px;
}

.inputs{
    width: 15rem;
}
.btn-cont{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    float: right;
    margin-top: 15px;
}
