*{
    margin: 0;
    padding: 0;
}
.checkout-nav{
    margin: 8px 8px 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
 color: #111;
 text-decoration: underline;
}
.logo-img{
    height: 70px;
    width: 70px;
    color: #000000;
}
.right-nav-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-right: 5px;
}
.check-right-logo{
    width: 20px;
    height: 20px;
}
.checkout-body-cont{
 height: 100%;
 width: 100%;
 margin: 20px 0px;
 padding: 70px 0px 100px;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}
.checkout-left-part{
    width: 440px;
}
.order-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    
}
.message-body{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.btn-toggle{
    width: 100%;
}
.section-heading{
    margin-top: 20px;
    height: 60px;
    width: 500px;
    padding-top: 20px;
    display: block;
    border-top: 1px solid #e5e5e5;
    font-size: 1.375rem;
    line-height: 1.0909090909;
    font-weight: 500;

}