*{

    padding: 0;
    margin: 0;
}

.product-img{
    height: 400px;
    width: 400px;
    
}

@media  screen and (max-width: 640px) {
    .product-img{
        height: 148px;
        width: 148px;
    }
}