*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Now Text",
            Helvetica,
            Arial,
            sans-serif;
        font-size: inherit;
         box-sizing: border-box; 
       
}
.nav2-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:#ffffff;
    border-bottom: 3px solid #F5F5F5;
   overflow: hidden;

}
.logo-container{
    margin-left: 2%;
  
}
.brand-logo-2{
    height: 70px;
        width: 70px;
        color: #000000;
}

.nav_bar{
    display: flex;
    min-width: 400px;
    justify-content: space-between;
}
.nav_bar a{
    color: #111111;
    padding: 18px 5px 18px;
    font-weight: 500;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.nav_bar a:hover{
    border-bottom: 2px solid #000000;
}
.search_bar{
    display: flex;
    align-items: center;
    height: 40px;
    width: 200PX;
    border-radius: 10px;
    padding: 8px 48px;
    background: #F5F5F5;  
}
.search-icon{
height: 100%;
width: 100%;
top: 2px;
left: 2px;
padding-left: 0;
border-radius: 5px 0  0 5px;
background: #F5F5F5;

}
.search_input{
border: 0;
background: #F5F5F5;
height: 100%;
width: 100%;
border-radius: 0 5px 5px 0;
}
.action_bar{
display: flex;
justify-content: space-evenly;

}

.favuorite-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    height: 26px;
    width: 26px;
    color: #111111;
    background-color: #ffffff;
}
.favuorite-logo:hover {
       background-color:#bababa;
       height: 26px;
       width: 26px;
       border-radius: 50%;
   }
.bag-icon{
    color: #111111;
    text-decoration: none;
    height: 24px;
    width: 24px;
}
.bag-icon:hover {
    background-color: #bababa;
    border-radius: 50%;
}
.gift-box{
    color: red;
}
.bag-item-count{
        margin: -25px 12px;
        height: 10%;
        width: 10%;
        text-decoration: none;    
}
.bag-item-count{
    text-decoration: none;

}
.user-login-icon{
    display: none;
}
.user-login a{
    color: #111111;
    text-decoration: none;
    height: 24px;
    width: 24px;    
}
.nav-toggle  {
    color: #111111;
    text-decoration: none;
    height: 24px;
    width: 24px;
}
.nav-toggle-icon{
    display: none;
}





